body {
  font-family: helvetica;
  font-size: 10pt;
  color: #000;
  overflow: hidden;
  text-shadow: #333px 1px 3px;
  margin: 0;
  padding: 0;
  -webkit-user-select: text;
  -webkit-word-wrap: break-word;
  word-wrap: break-word; }

img {
  vertical-align: bottom; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #777; }

p {
  -webkit-word-wrap: break-word; }

.update {
  padding: 4px;
  padding-top: 0; }
  .update .actions {
    margin-top: 3px;
    margin-bottom: 1px;
    position: relative; }
    .update .actions span {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 80%; }
    .update .actions .buttons {
      margin: 0;
      display: none; }
  .update p {
    background: white;
    padding: 4px;
    margin: 5px;
    margin-left: 40px;
    min-height: 30px;
    width: 85%;
    padding: 5px;
    -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 4px;
    color: #888;
    z-index: 1;
    position: relative; }
  .update .avatar_container {
    float: left;
    display: block;
    z-index: 10; }
    .update .avatar_container .avatar {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url(app://icons/nn_nano.png); }

.update:hover .actions .buttons {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 1px;
  text-align: right; }

.active_entry {
  background: white;
  border: 1px solid black; }

.directed p {
  background-color: #c8e880; }

.private p {
  background-color: #ed89c3; }

.quoted {
  -webkit-border-radius: 4px;
  background: #eee;
  padding: 5px;
  width: 80%;
  margin-top: 10px;
  margin-left: 40px;
  display: block;
  color: #888;
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
  .quoted:hover a {
    color: #000;
    background: #fff; }

.own p {
  margin-left: 5px;
  margin-right: 40px; }
.own .avatar_container {
  float: right; }

.message .avatar_container {
  width: 20px;
  height: 20px; }

.update img.avatar, .update img.ravatar {
  border: 4px solid #eee;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }

.update_picture {
  position: absolute;
  right: -1px;
  top: -10px;
  z-index: 666;
  opacity: 0.5; }
  .update_picture img {
    border: 4px solid #000;
    -webkit-border-radius: 5px;
    -webkit-transform: rotate(8deg)  scale(0.5); }

.update_picture:hover {
  opacity: 1; }

.activated_ {
  color: pink;
  font-weight: bold; }

#content_container {
  border-bottom: 2px solid #666;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  bottom: 80px;
  top: 26px;
  padding: 0px;
  max-width: 480px;
  background: #ededed; }

#menubar {
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  background-image: url(app://icons/BG.png);
  background-repeat: repeat-x;
  width: 100%;
  border-bottom: 2px solid #666; }
  #menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 10px; }
    #menubar ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline; }
    #menubar ul button {
      position: relative;
      top: 0;
      width: 25px;
      height: 25px;
      display: block;
      float: left;
      margin-right: 12px;
      text-align: center;
      padding: 1px;
      background: none;
      border: none; }
      #menubar ul button img {
        vertical-align: center;
        z-index: 23; }
      #menubar ul button span {
        position: absolute;
        text-align: center;
        top: 8px;
        left: 3px;
        width: 20px;
        z-index: 25; }
    #menubar ul button:hover {
      opacity: 0.8; }
  #menubar .change_service_container {
    position: fixed;
    top: 2px;
    right: 10px; }

.unread_star {
  background-image: url(app://icons/toolbar/star.png);
  background-position: center center;
  background-repeat: none; }

#global_actions {
  position: absolute;
  bottom: 2px;
  left: 10px;
  max-width: 400px; }
  #global_actions span {
    display: block;
    display-float: right; }

.user, .recipient {
  font-weight: bold;
  margin: 1px 4px 1px 4px;
  background: #aaa;
  -webkit-border-radius: 4px; }

.user_link, .recipient_link {
  font-weight: bold;
  margin-right: 5px; }

.avatar_container .recipient_avatar {
  bottom: 10px;
  float: left;
  height: 15px !important;
  margin-left: 15px;
  position: relative;
  width: 15px !important; }

.transport {
  margin-left: 10px; }

.lite {
  font-weight: normal; }

input, textarea {
  -webkit-border-readius: 6px; }

#input_area {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  z-index: 32; }
  #input_area textarea {
    width: 100% !important;
    height: 50px;
    margin-top: 2px;
    font-family: helvetica; }

#controls {
  position: fixed;
  padding-bottom: 10px;
  height: 100px;
  bottom: 0;
  left: 0;
  width: 100%; }

input[type="text"], input[type="password"] {
  width: 100%;
  display: block; }

#login_form {
  width: 50%;
  position: fixed;
  top: 30%;
  left: 24%; }

#add_service_form input, #add_service_form label {
  width: 50%;
  display: block; }

#throbber {
  position: fixed;
  bottom: 5px;
  right: 20px;
  background: #888;
  padding: 2px;
  -webkit-border-radius: 3px; }

.notice p {
  margin-left: 4px;
  min-height: 10px;
  width: 90%; }

.unread p {
  color: #000;
  background-image: url("app://icons/toolbar/star.png");
  background-position: bottom right;
  background-repeat: no-repeat; }

.priv_t {
  border: red; }

.small {
  font-size: 80%; }

#sender div {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 10px; }

#unread_count {
  text-align: center; }

#big_load {
  position: fixed;
  top: 25%;
  left: 25%;
  background: #444;
  padding: 20px;
  -webkit-border-radius: 10px;
  z-index: 666;
  width: 50%;
  height: 50%; }

.archive_column {
  top: 30px;
  bottom: 4px; }

#toolbar {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 52px; }

.square {
  display: block;
  width: 48px;
  height: 48px;
  float: left;
  margin: 5px;
  font-size: 40px;
  text-align: center; }

#charcount {
  background: #EEE;
  border-radius: 4px;
  bottom: 15px;
  opacity: 0.8;
  padding: 4px 10px;
  position: absolute;
  right: 2px;
  z-index: 20; }

.linux body {
  background: #222; }
.linux .column {
  background: #ddd; }
.linux #controls {
  background: #222; }
.linux .update p, .linux .update .quoted {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
.linux .avatar_container {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
.linux .update img.avatar, .linux .update img.ravatar {
  -webkit-box-shadow: -1px 1px 3px rbga(0,0,0,0.5); }
.linux .button {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }

.win32 body {
  background: #222; }
.win32 .column {
  background: #222; }
.win32 #controls {
  background: #222; }
.win32 .update p, .win32 .update .quoted {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
.win32 .avatar_container {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
.win32 .update img.avatar, .win32 .update img.ravatar {
  margin-top: 5px; }
.win32 .button {
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.5); }
.win32 ul button span {
  left: 5px; }
.win32 .attach_file_img {
  display: none; }

.osx button, .osx .button, .linux button, .linux .button {
  -webkit-appearance: square-button  !important; }
