.toolbar button, .toolbar select {
  -webkit-box-shadow: rgba(225, 225, 225, 0.695) 0px 1px 0px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(darkGray));
  border: 1px solid #3d3d3d;
  height: 20px;
  -webkit-border-radius: 5px;
  margin: 0 10px 0 0px;
  text-shadow: 1px 1px 2px white; }
.toolbar button:active, .toolbar select:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(0.2, rgba(0, 0, 0, 0.1)), color-stop(0.75, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), color-stop(0.2, rgba(0, 0, 0, 0.2)), color-stop(0.8, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#a9a9a9));
  -webkit-user-drag: none; }
.toolbar button.pressed, .toolbar select.pressed {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(0.2, rgba(0, 0, 0, 0.1)), color-stop(0.75, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), color-stop(0.2, rgba(0, 0, 0, 0.2)), color-stop(0.8, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#454545)); }
.toolbar .button_group button {
  margin: 0 0 0 -7px; }
.toolbar .button_group .right {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0; }
.toolbar .button_group .left {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0; }
.toolbar .button_group .inner {
  -webkit-border-radius: 0px; }
.toolbar select {
  padding-left: 5px; }

.win32 button, .win32 select, .linux button, .linux select {
  font-size: 10px; }
