!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "app.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %title
      Obrazek
    %script{ :src => "libs/prototype.js", :type => "text/javascript" }
    %script{ :type => "text/javascript", :charset => "utf-8", :src => "image.js" }
  %body
    #image_preview
      .actions
        %img{:src => "app://icons/toolbar/30x-Gear.png"}
        %button#img_25 25%
        %button#img_50 50%
        %button#img_100 100%
        %button#save_img Zapisz

      #cont
        %img#big_load{ :src => "app://icons/big_load.gif", :alt => "Loading" }
        %img{ :src => "", :alt => "Obrazek" }
