!!!
%html{ :lang => "pl" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %script{:type=>"text/ruby"}
      :plain
        require 'lib/cache'
        window.cache =  Cache.new(Titanium.Filesystem.getUserDirectory().nativePath());

    - Dir["Resources/lib/**/*.js"].reverse.each do |file|
      %script{:src => file.sub("Resources/",""), :type => "text/javascript"}

    %link{ :href => "app.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
  %body
    #body
