!!!
%html{ :lang => "pl" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %script{:src=>"/blip/blip.uploader.rb", :type=>"text/ruby"}
    %script{:type=>"text/ruby"}
      :plain
        require 'application/cache'
        window.cache =  Cache.new(Titanium.Filesystem.getUserDirectory().nativePath());


    %script{:src=>"libs/prototype.js", :type => "text/javascript"}
    - Dir["Resources/libs/**/*.js"].reject{|l| l=~ /scriptaculous|prototype/}.reverse.each do |file|
      %script{:src => file.sub("Resources/",""), :type => "text/javascript"}

    - Dir["Resources/**/*.js"].reject{|l| l=~ /libs|test|image/ }.sort.each do |file|
      %script{:src => file.sub("Resources/",""), :type => "text/javascript"}



    %link{ :href => "application.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
  %body
    #wrapper
      #throbber
        %img{ :src => "app://icons/anim.gif" }
      #controls
        %form#login_form{ :method => "", :action => "#", "accept-charset" => "utf-8" }
          %button#login_button._button{ :name => "submit", :value => "" }
            Zaloguj się do swoich kont &rarr;

      #application
        #sidebar
          %ul
            %li.account
              %span._button.small
                %span#user_icon
                %span#user_login
            %li
              %a#home_button._button.small{ :href => "#", :title => "Kokpit" }
                %img.home_button_img{ :src => "app://icons/ui/48_home.png", :width => "24px", :height => "24px", :alt => "" }

            %li
              %a#archive_button._button.small{ :href => "#", :title => "Wiadomości" }
                %img.archive_button_img{ :src => "app://icons/ui/48_inbox_empty.png", :width => "24px", :height => "24px", :alt => "" }
          /
            %li
              %a#notifications_button._button.small{ :href => "#", :title => "Powiadomienia" }
                %img.notifications_button_img{ :src => "app://icons/ui/48_notifications.png", :width => "24px", :height => "24px", :alt => "" }
                Powiadomienia
            %li
              %a#friends_button._button.small{ :href => "#", :title => "Znajomi" }
                %img.friends_button_img{ :src => "app://icons/ui/48_users.png", :width => "24px", :height => "24px", :alt => "" }
                Znajomi
            %li
              %a#my_stuff_button._button.small{ :href => "#" , :title => "Moje" }
                %img.my_stuff_button_img{ :src => "app://icons/ui/48_mine.png", :width => "24px", :height => "24px", :alt => "" }
                Moje
            %li
              %a#search_button._button.small{ :href => "#",  :title => "Szukaj" }
                %img.search_button.img{ :src => "app://icons/ui/48_search.png", :width => "24px", :height => "24px", :alt => "" }
                Szukaj

        #content_container
          #dash0.column
          #dash1.column
          #dash2.column
          #dash3.column
          #dash4.column
          #archive.column

        #global_actions

          #input_area
            %span#charcount.sender_item 0
            %form#sender{ :method => "", :action => "#", "accept-charset" => "utf-8" }
              %textarea#main_textarea{ :name => "content", :autofocus => "", :rows => "3", :placeholder => "Co teraz robisz? O czym myślisz? Dokąd zmierzamy?" }
              %div
                %button._button.small.sender_item{ :name => "submit", :value => "" }
                  %img{ :src => "app://icons/ui/16_message.png", :width => "12px", :height => "12px" }
                  / Wyślij
                %button#make_private._button.small.sender_item{ :href => "#", :title => "Zmienia wiadomość na prywatną" }
                  %img{ :src => "app://icons/ui/24_private.png", :width => "12px", :height => "12px" }
                  / Sprywatyzuj
                %button#shorten_links._button.small.sender_item{ :href => "#", :title => "Skraca wszystkie linki" }
                  %img{ :src => "app://icons/ui/48_tools.png", :width => "12px", :height => "12px" }
                  / Skróć linki
                %button._button.small.sender_item{ :href => "#", :title => "Dodaje plik" }
                  %img{ :id => "attach_file_img", :src => "app://icons/ui/48_attachment.png", :width => "12px", :height => "12px" }
                  %span#attach_file
                    / Dodaj plik

          %span
            /
              %button#sidebar_toggle.small{:title => "Schowaj sidebar"}
                %img.sidebar_toggle_img{ :src => "app://icons/ui/48_arr_left.png", :height => "12px", :alt => "", :width => "12px" }
              %button#open_sender._button.small
                %img.open_sender_img{ :src => "app://icons/ui/48_add.png", :height => "12px", :alt => "", :width => "12px" }
                Dodaj

            %button#mark_as_read_button._button.small
              %img{ :src => "app://icons/ui/48_new.png", :height => "12px", :alt => "", :width => "12px" }
              Oznacz jako przeczytane
            %span.change_service_container
              %select#change_service
