!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "app.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %title
      Ustawienia
    %script{ :src => "libs/prototype.js", :type => "text/javascript" }
    %script{ :src => "application/database_connector.js", :type => "text/javascript"}
    -#
      %script{ :src => "application/application.js", :type => "text/javascript"}
    %script{ :src => "application/preferences.js", :type => "text/javascript"}
    :javascript
      document.observe("dom:loaded", function(){
        document.fire("preferences:interface_loaded");
      });


  %body{:style => "background-color: #ededed; height: 100%"}
    %div
      %form#settings
        %h2 Interfejs
        %fieldset#interface
          .group#notifications
            %label{:for => "notifications"} Powiadomienia?
            %input{:name => "notifications", :type => "checkbox"}
          .group#badge
            %label{:for => "badge"} Etykieta w docku?
            %input{:name => "badge", :type => "checkbox"}
          .group#tray
            %label{:for => "badge"} Ikona w trayu?
            %input{:name => "tray", :type => "checkbox"}
        %h2 Ustawienia Proxy
        %fieldset#proxy
          .group#proxy_ip
            %label{:for => "proxy_ip"} IP
            %input{ :name => "proxy_ip"}
          .group#proxy_port
            %label{:for => "proxy_port"} Port
            %input{ :name => "proxy_port"}
          .group#proxy_user
            %label{:for => "proxy_user"} Login
            %input{ :name => "proxy_user"}
          .group#proxy_password
            %label{:for => "proxy_password"} Hasło
            %input{ :name => "proxy_password", :type => "password"}
          %button Sprawdź
        %fieldset{:style => "display: none"}
          Konta
          %p
            Tutaj beda konta i ich ustawienia i w ogole bedzie lepiej
