
body {
	font-family:helvetica;
	font-size:10pt;
	color:#000;
	overflow:hidden;
	 text-shadow: #eee -1px 1px 3px;
}
a  {
	color:#333;
	text-decoration:none;
	
}
a:hover {
	color:#0425aa;
	background:#045eaa;
}
.update {
	margin-bottom:10px;
	border-bottom:1px solid #888;
}
.update p {
	/*
	background: -webkit-gradient(linear, left top, left bottom,    from(#fff), to(#dbdbdb), color-stop(0.5, ##aaa);
	*/
	background:#eee;
	/*-webkit-border-radius:10px;*/
	padding:4px;
	margin:5px;
	margin-left:45px;
	width:80%;
	padding:5px;
	position: relative;
	box-shadow: #333 -1px 1px 3px;
	-webkit-border-radius:4px;
}
.update img.avatar,  .update img.ravatar {
	border:4px solid #eee;
	-webkit-border-radius:5px;
	 box-shadow: #333 -1px 1px 3px;
	float:left;
	display:block;

}
.update_picture {

	position:absolute;
	top:15px;
	right:-20px;
	alpha: 0.8;
}
.update_picture  img {
	border:4px solid #000;
	-webkit-border-radius:5px;
	-webkit-transform:rotate(5deg) scale(0.5);
	
}
.column {
	/*
	border-top:2px solid #333;
	border-bottom:2px solid #333;
	*/
	position:fixed;
	 padding-right:3%;
	overflow:auto;
	top:5px;
	bottom:115px;
}
.user, .recipient {
	font-weight:bold;
	margin:1px 4px 1px 4px;
	backgorund:#aaa;
	-webkit-border-radius:4px;
}
.actions { margin-top:20px;clear:both;}
.actions a {
	font-weight:bold;
	padding:2px;

	box-shadow: #333 -1px 1px 3px;
	border:1px solid #888;
	-webkit-border-radius:4px;
	margin: 0 3px 0 3px ;
background:#eee;
}
.actions span {margin-top:5px; display:block;}
input, textarea { -webkit-border-readius:4px;}
#sender {
	position:fixed;
	padding-bottom:10px;
	height:100px;
	bottom:0;
	left:0;
	width:100%;
	border-top:2px solid #888;
}
#controls form textarea {
	width:100%;
}
input[type="text"], input[type="password"] {
	width: 100%;
	display:block;
}
#throbber { 
	position:fixed;
	bottom:5px;
	right:10px;
}
