body.win32 {
  /*
  background: -webkit-gradient(linear, left top, left bottom,    from(#fff), to(#dbdbdb));
  */
background:#222;
}
.win32 .column{
  background: #ddd;
}
.win32 #controls { 
  background:#222;
}
.win32 .update p, .win32 .update .quoted, .win32 .avatar_container {
  -webkit-box-shadow:  -1px 1px 3px rgba(0,0,0,0.5);
}
.win32 .update {
  /*
  border-color:#eee;
  padding-top:5px;
  margin-bottom:0;

  background: -webkit-gradient(linear, left top, left bottom,    from(#fff), to(#dbdbdb));
              */
}
.win32 .update img.avatar,  .win32 .update img.ravatar {
  margin-top:5px;
   -webkit-box-shadow:-1px 1px 3px rbga(0,0,0,0.5) ;

}
.win32 .button {
  -webkit-box-shadow:  -1px 1px 3px rgba(0,0,0,0.5);
}
